.defaultButton {
    background: none;
    border: none;
    padding: 0.5rem;
    border-radius: 20px;
    background: white;
    color: black;

    &:hover {
        cursor: pointer;
        background: #cccccc;
        box-shadow: 0 0 20px #cccccc;
    }
}

.navButton {
    font-size: 1rem;
    font-weight: 400;
    padding: 0;
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
    color: white;
    border-radius: 0;
    padding: 0;

    &:hover {
        cursor: pointer;
        border-bottom: 2px solid white;
    }
}

.walletButton {
    position: relative;
    background: black;
    background-clip: padding-box;
    border: solid 1px transparent;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 5px 10px;

    &:hover {
        background: linear-gradient(to right, #f7b528, #fdcc90);
        cursor: pointer;

        .gradientText {
            -webkit-text-fill-color: white;
        }
    }

    &:before {
        position: absolute;
        content: '';
        top: -3px; right: -3px; bottom: -3px; left: -3px;
        z-index: -1;
        border-radius: 20px;
        background: linear-gradient(to right, #f7b528, #fdcc90);
    }


}